body {
    width: 100% !important;
}

.nav {
    background-color: #c8cbe8;
    font-size: larger;
    font-weight: 500;
}

.carousel-settings {
    width: 100%; 
    height: 500px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.check-box {
    background-color: #10153d;
}

.check-box__title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.check-box__content {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}